---
layout: frontpage
lang: en
---

<!-- Full Page Slider -->
<section id="slider" class="slider-element force-full-screen full-screen dark">

	<div class="force-full-screen full-screen " style="background-image: url('/assets/img/backgrounds/mountshine-dark-g.jpg');background-size: cover;">

		<div class="container clearfix">
			<div class="slider-caption slider-caption-top-left">
				<h1 data-animate="fadeInDown" data-delay="400" class="slider-heading-cust">Platform to Protect Whistleblowers in Africa</h1>
				<a data-animate="fadeInUp" data-delay="500"  href="#whatwedo" data-scrollto="#whatwedo" class="button button-border button button-rounded noleftmargin nobottommargin d-md-inline-block pplaaf-btn" style="margin-top: 30px;">What we do</a>
				<a data-animate="fadeInUp" data-delay="600" href="send-us-info.html" class="button button-border button button-rounded noleftmargin nobottommargind-md-inline-block pplaaf-btn" style="margin: 10px 0 0 10px;">How to Send us Info</a>
				<a data-animate="fadeInUp" data-delay="700" href="#featuredposts" data-scrollto="#featuredposts" class="button button-border button button-rounded noleftmargin nobottommargin d-md-inline-block pplaaf-btn" style="margin: 10px 0 0 10px;">See Featured Posts</a>
			</div>
		</div>

	</div>

</section>

<section id="promobox">
	<div class="promo promo-full pplaaf-yellow-bg" >
		<div class="container clearfix center">
		<h3><span>A whistleblower</span> is a person who discloses information regarding actions that are unlawful, illicit or against public interest, that he/she has witnessed, especially in the context of his/her work. By disclosing this information, whistleblowers take the risk of facing reprisal from those who are alleged of wrongdoing.</h3>
		<a href="/faq.html" class="button promo-button-center button-rounded ">Find out more ...</a>
	</div>
</section>


<section id="whatwedo">

	<div class="content-wrap">
		
		<div class="container clearfix">

			<div class="title-center">
				
				<h1>How we help whistleblowers</h1>
				<h4>
				PPLAAF provides the following services for whistleblowers, NGOs, media and governments:
				</h4>
				<span class="anchor" id="aboutus"></span>
				
			</div>
	
			<div class="col_one_fourth">
				<div class="feature-box fbox-effect fbox-center">
					<div class="fbox-icon">
						<a href="#"><i class="fa fa-user-secret"></i></a>
					</div>
					<h3>Secure Communication</h3>
					<p>Send us information and documents through our secure website, encrypted messaging service, and hotlines in French and English. Find out more on our <a href="/send-us-info.html">Send Us Info page</a> and our <a href="/tech.html">Tech page</a>.</p>
				</div>
			</div>

			<div class="col_one_fourth">
				<div class="feature-box fbox-effect fbox-center">
					<div class="fbox-icon">
						<a href="#"><i class="fa fa-gavel"></i></a>
					</div>
					<h3>Legal Assistance</h3>
					<p>
					Our network of local and international lawyers can help you safely report crime and corruption, and protect you from retaliation. We can defend you against legal actions even if you do not have financial resources.
					</p>
				</div>
			</div>

			<div class="col_one_fourth">
					<div class="feature-box fbox-effect fbox-center">
						<div class="fbox-icon">
							<a href="#"><i class="fa fa-newspaper-o"></i></a>
						</div>
						<h3>Media Assistance</h3>
						<p>We can direct your information and documents to an investigative journalist at a trusted publication. We have partnerships with media outlets throughout Africa who will produce quality articles based on your information and protect your identity.</p>
					</div>
				</div>

			<div class="col_one_fourth col_last">
				<div class="feature-box fbox-effect fbox-center">
					<div class="fbox-icon">
						<a href="#"><i class="fa fa-book"></i></a>
					</div>
					<h3>Advocacy and Research</h3>
					<p>
					We advocate for strong legal rights and protections for whistleblowers by engaging with elected officials and policy-makers, and developing policy and research materials on whistleblower standards and practices.
					</p>
				</div>
			</div>
		</div>

	</div>
	
</section>


<section id="featuredposts" class=" lightgray-bg">
	<div class=" content-wrap ">
			<div class="container clear-bottommargin clearfix">

			<div class="heading-block center">
				<h2>Featured Posts</h2>
				<span>Press Releases and Featured Posts</span>
			</div>

			<!-- Posts -->
			<div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

				{% for post in site.posts %}
				{% for tag in post.tags %}
				{% if post.lang == "en" %}
				{% if tag == "featured" %}
				<div class="entry entry-blocks-custom-1 clearfix">
					<div class="entry-image">
						<a href="{{ site.baseurl }}{{ post.url }}"><img class="image_fade" src="/assets/images/posts/{{ post.image }}" alt=""></a>
					</div>
					<div class="entry-title">
						<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
						<h4><a href="{{ post.url }}">{{ post.subtitle }}</a></h4>
					</div>
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3"></i>{{ post.date  | date_to_long_string }} </li>
						<li> {{ post.author }} </li>
					</ul>
					<div class="entry-content">
						<p>{{ post.excerpt}}</p>
						<a href="{{ site.baseurl }}{{ post.url }}"class="more-link">Read More</a>
					</div>
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}
				{% endfor %}


			</div><!-- #posts end -->

		</div>

	</div>

</section><!-- #content end -->