<!-- Footer -->
<footer id="footer" class="dark">

    <div class="container">

      <!-- Footer Widgets -->
      <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">
        </div>

        <div class="col_one_third col_last">
        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyright &copy; 2020 All Rights Reserved by PPLAAF.<br>
          <div class="copyright-links"><a href="legal.html">Legal Notice</a></div>
          <!-- <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div> -->
        </div>

        <div class="col_half col_last tright">
          <i class="icon-envelope2"></i> info@pplaaf.org <span class="middot">&middot;</span> <i class="icon-headphones"></i> +27-10-500-23-22 <span class="middot">&middot;</span>
          <div class="clear"></div>
          <div class="fright clearfix">
            <a href="https://facebook.com/PPLAAF/" target="blank" class="social-icon si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/PPLAAF" target="blank" class="social-icon si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCp4K7brVSyJx2m6-rVK9Ylg" target="blank"  class="social-icon si-borderless si-youtube">
              <i class="icon-youtube"></i>
              <i class="icon-youtube"></i>
            </a>
            <!-- <a href="#" class="social-icon si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a> -->
          </div>

          <div class="clear"></div>

        </div>

      </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->