<!-- French Header and Menu -->
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/pt" class="standard-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
                <a href="/pt" class="retina-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
            </div>

            <!-- Menu - French  -->
            <nav id="primary-menu">

                <ul>
                    <li><a href="/pt/index.html#whatwedo" data-scrollto="#whatwedo"><div>Sobre nós</div></a>
                        <ul>
                            <li><a href="/pt/index.html#aboutus" data-scrollto="#whatwedo"><div>O que fazemos</div></a></li>
                            <li><a href="/pt/who-we-are.html"><div>Quem somos</div></a>
                            <li><a href="/pt/tech.html"><div>sobre a tecnologia</div></a></li>
                        </ul>
                    </li>
                    <li><a href="/pt/send-us-info.html"><div>Envie-nos info</div></a>
                    </li>
                    <li><a href="#"><div>Profiles</div></a>
                        <ul>
                            <li><a href="#"><div>Whistleblowers (ENG)</div></a>
                                <ul>
                                    {% for wb in site.whistleblowers-en %}
                                        <li><a href="{{ wb.url }}"><div>{{ wb.title }}</div></a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#"><div>Case Stories (ENG)</div></a>
                                <ul>
                                    {% for c in site.cases-en %}
                                        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-small" ><a href="/news.html"><div>News</div></a>
                    </li>
                    <li class=""><a href="/pt/faq.html"><div>FAQ</div></a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><img src="/assets/img/icons/flags/PT.png"><span class="caret"></span></a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/fr"><img src="/assets/img/icons/flags/FR.png"> Français</a></li>
                            <li><a href="/"><img src="/assets/img/icons/flags/ENG.png"> English</a></li>
                            <li><a href="/ar"><img src="/assets/img/icons/flags/AR.png"> العربية</a></li>
                        </ul>
                    </li>
                </ul>
            
            
                <!-- Top Search -->
                <!--
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>-->
                <!-- #top-search end -->
            
            </nav>

        </div>

    </div>

</header>