<!-- French Header and Menu -->
{% if include.type == "frontpage" %}
    <header id="header" class="transparent-header full-header dark">
{% else %}
    <header id="header" class="full-header">    
{% endif %}

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/fr" class="standard-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
                <a href="/fr" class="retina-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
            </div>

            <!-- Menu - French  -->
            <nav id="primary-menu">
                <ul>
                    <li><a href="/fr/index.html#aboutus"><div>Nous connaître</div></a>
                        <ul>
                            {% if include.type == "frontpage" %}
                                <li><a href="#whatwedo" data-scrollto="#whatwedo"><div>Que faisons-nous?</div></a></li>
                            {% else %}
                                <li><a href="/fr/index.html#aboutus"><div>Que faisons-nous?</div></a></li>  
                            {% endif %}
                            
                            <li><a href="/who-we-are.html"><div>Who we are (ENG)</div></a></li>
                            <li><a href="/fr/tech.html"><div>Technologie</div></a></li>
                            <li><a href="/fr/faq.html"><div>FAQ</div></a></li>
                            <li><a href="/downloads/annual_report.pdf">Rapport Annuel</a></li>
                        </ul>
                    </li>
                    <li><a href="/fr/send-us-info.html"><div>Envoyez vos infos</div></a>
                    </li>
                    <li><a href="#"><div>Profils/Histoire</div></a>
                        <ul>
                            <li><a href="#"><div>Lanceurs d’alerte</div></a>
                                <ul>
                                    {% for wb in site.whistleblowers-fr %}
                                        <li><a href="{{ wb.url }}"><div>{{ wb.title }}</div></a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#"><div>Histoires de cas</div></a>
                                <ul>
                                    {% for c in site.cases-fr %}
                                        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#"><div>Profils de pays</div></a>
                                <ul>
                                    {% for c in site.countries-fr %}
                                        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>                            
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-small"><a href="/fr/news.html"><div>Actualités</div></a>
                        <div class="mega-menu-content style-2 clearfix menu-pos-invert">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title uppercase"><div><h5>Communiqués de presse</h5></div></li>
                                {% for post in site.posts %}
                                {% for tag in post.tags %}
                                {% if post.lang == "fr" %}
                                {% if tag == "pressrelease" %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title uppercase"><h5><div>Postes en vedette</div></h5>
                                {% for post in site.posts %}
                                {% for tag in post.tags %}
                                {% if post.lang == "fr" %}
                                {% if tag == "featured" %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="uppercase"><div><h5>Actualités</h5></div>
                                    <li><a href="/fr/news.html">Tous les articles</a></li>
                                </li>
                                <!-- <li class="mega-menu-title uppercase"><a href="#">Nouvelles par pays</a></li> -->
                            </ul>
                        </div>     
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><img src="/assets/img/icons/flags/FR.png"><span class="caret"></span></a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/"><img src="/assets/img/icons/flags/ENG.png"> English</a></li>
                            <li><a href="/pt"><img src="/assets/img/icons/flags/PT.png"> Português</a></li>
                            <li><a href="/ar"><img src="/assets/img/icons/flags/AR.png"> العربية</a></li>
                        </ul>
                    </li>
                </ul>
            
                <!-- Top Search -->
                <!--
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>-->
                <!-- #top-search end -->
            
            </nav>

        </div>

    </div>

</header>