{% include relBase.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Protecting whistleblowers, protecting disclosures">
    <meta name="author" content="PPLAAF" />

    <!-- OPEN-GRAPH -->
    <meta property="og:title" content="PPLAAF" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pplaaf.org" />
    <meta property="og:image" content="https://pplaaf.org/assets/img/logo1.png">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="Protecting whistleblowers, protecting disclosures" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@PPLAAF" />
    <meta name="twitter:creator" content="@PPLAAF" />
    <meta name="twitter:title" content="PPLAAF" />
    <meta name="twitter:description" content="Protecting whistleblowers, protecting disclosures" />
    <meta name="twitter:url" content="https://pplaaf.org" />
    <meta name="twitter:image" content="https://pplaaf.org/assets/img/logo1.png" />

    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>PPLAAF</title>

    <!-- STYLE-SHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <link rel="stylesheet" href="{{relBase}}assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="{{relBase}}assets/css/colors.css" type="text/css" />
    
    <link rel="stylesheet" href="{{relBase}}assets/css/custom.css" type="text/css" />
        
</head>
