<!-- English Header and Menu -->
{% if include.type == "frontpage" %}
    <header id="header" class="transparent-header full-header dark">
{% else %}
    <header id="header" class="full-header">    
{% endif %}

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
                <a href="/" class="retina-logo" data-dark-logo="/assets/img/logo/logo-dark.png"><img src="/assets/img/logo/logo-dg.png" alt="PPLAAF"></a>
            </div>

            <!-- Menu - English -->
            <nav id="primary-menu" >

                <ul>
                    <li><a href="/#aboutus"><div>About Us</div></a>
                        <ul>
                            {% if include.type == "frontpage" %}
                                <li><a href="#whatwedo" data-scrollto="#whatwedo"><div>What we do</div></a></li>
                            {% else %}
                                <li><a href="/index.html#aboutus" data-scrollto="#aboutus"><div>What we do</div></a></li>   
                            {% endif %}
                            <li><a href="/who-we-are.html"><div>Who we are</div></a></li>
                            <li><a href="/tech.html"><div>About the Tech</div></a></li>
                            <li><a href="/faq.html"><div>FAQ</div></a></li>
                            <li><a href="/downloads/annual_report.pdf">Annual Report</a></li>
                        </ul>
                    </li>
                    <li><a href="/send-us-info.html"><div>Send us info</div></a>
                    </li>
                    <li><a href="#"><div>Profiles/Stories</div></a>
                        <ul>
                            <li><a href="#"><div>Whistleblowers</div></a>
                                <ul>
                                    {% for wb in site.whistleblowers-en %}
                                        <li><a href="{{ wb.url }}"><div>{{ wb.title }}</div></a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#"><div>Case Stories</div></a>
                                <ul>
                                    {% for c in site.cases-en %}
                                        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#"><div>Country Profiles</div></a>
                                <ul>
                                    {% for c in site.countries-en %}
                                        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>                            
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-small" ><a href="/news.html"><div>News</div></a>
                        <div class="mega-menu-content style-2 clearfix menu-pos-invert">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title uppercase"><div><h5>Press Releases</h5></div></li>
                                {% for post in site.posts %}
                                {% for tag in post.tags %}
                                {% if post.lang == "en" %}
                                {% if tag == "pressrelease" %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title uppercase"><h5><div>Featured Posts</div></h5>
                                {% for post in site.posts %}
                                {% for tag in post.tags %}
                                {% if post.lang == "en" %}
                                {% if tag == "featured" %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title uppercase"><div><h5>News</h5></div>
                                    <li><a href="/news.html">News Archive Page</a></li>
                                </li>
                                <!-- <li class="mega-menu-title uppercase"><a href="#">News by Country</a></li> -->
                            </ul>
                        </div>     
                    </li>

                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><img src="/assets/img/icons/flags/ENG.png"><span class="caret"></span></a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/fr"><img src="/assets/img/icons/flags/FR.png"> Français</a></li>
                            <li><a href="/pt"><img src="/assets/img/icons/flags/PT.png"> Português</a></li>
                            <li><a href="/ar"><img src="/assets/img/icons/flags/AR.png"> العربية</a></li>
                        </ul>
                    </li>
                </ul>
            
                <!-- Top Search -->
                <!--
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>-->
                <!-- #top-search end -->
            
            </nav>

        </div>

    </div>

</header>
