<!-- Sidebar
============================================= -->
<div class="sidebar nobottommargin col_last clearfix">

    <div class="sidebar-widgets-wrap">
        
        {% if include.type == "post" %}
        <div class="widget clearfix  ">
            {% if page.previous.url %}
            <a class=" button button-small" style="width:100%; text-align:center; margin-left:auto; margin-right:auto;" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top"
                title="{{page.previous.title}}">&larr; Previous Post</a>
            {% endif %}
            {% if page.next.url %}
            <a class=" button button-small " style="width:100%; text-align:center; margin:auto;" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top"
                title="{{page.next.title}}">Next Post &rarr;</a>
            {% endif %}
        </div>
        {% endif %}
        
        <!-- fb and twitter -->
        <div class="widget clearfix">
            <h4>Follow PPLAAF</h4>
            <a href="https://facebook.com/PPLAAF/" target="blank" class="social-icon si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/PPLAAF" target="blank" class="social-icon si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>
        </div>

        <!-- Post Tagged -->
        {% if page.tags.size > 0 %}
        <div class="widget clearfix">
            <h4>Tagged:</h4>
            <div class="tagcloud">
                {% for t in page.tags %}
                <a>{{ t }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}        

        <!-- WhistleBlower Profile cloud -->
        <div class="widget clearfix  tagcloud ">
            <h4>WhistleBlower Profiles</h4>
            {% for wb in site.whistleblowers-en %}
                <h4><a class="no-gutter" href="{{ wb.url }}">{{ wb.title }}</a></h4>
            {% endfor %}
        </div>
        <!-- Case Profile cloud -->
        <div class="widget clearfix  tagcloud ">
                <h4>PPLAAF Cases</h4>
                {% for c in site.cases-en %}
                    <h4><a class="no-gutter" href="{{ c.url }}">{{ c.title }}</a></h4>
                {% endfor %}
            </div>


        <!-- featured posts -->
        <div class="widget clearfix">

            <h4>Featured Posts</h4>
            <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false"
                data-autoplay="5000">

                <div class="oc-item">
                    <div class="iportfolio">
                        <div class="portfolio-image">
                            <a href="/2018/03/02/drc-dubai-port-corruption-en.html">
                                <img src="/assets/images/posts/pressrelease.jpg" alt="press release">
                            </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                            <h3>
                                <a href="/2018/03/02/drc-dubai-port-corruption-en.html">DRC: New port project tainted by corruption charges</a>
                            </h3>
                            <span>02 March 2018</span>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="iportfolio">
                        <div class="portfolio-image">
                            <a href="/2018/02/15/zuma-presidency-ends.html">
                                <img src="/assets/images/posts/zuma1.jpg" alt="Open Imagination">
                            </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                            <h3>
                                <a href="/2018/02/15/zuma-presidency-ends.html">State-Capture puts an end to Jacob Zuma’s presidency</a>
                            </h3>
                            <span>15 February 2018</span>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="iportfolio">
                        <div class="portfolio-image">
                            <a href="/2018/01/29/trillian-goodson-speaks.html">
                                <img src="/assets/images/posts/carteblanche2.jpg" alt="Open Imagination">
                            </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                            <h3>
                                <a href="/2018/01/29/trillian-goodson-speaks.html">Trillian – Bianca Goodson Speaks</a>
                            </h3>
                            <span>29 January 2018</span>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>

</div>

<!-- .sidebar end -->