body, p {
    font-size: 1.01rem;
}
p a {
    color: #0e9e32;
}
p a:hover {
    /* color: #558662; */
    text-shadow: 0px 3px 5px #dac8885c;
}
section#content a:hover {
    text-shadow: 0px 3px 5px #dac8885c;
    font-weight: bold;
}
section#content p {
    text-align: justify;
}

.arabic > h2, .arabic > h3, .arabic > h4, .arabic > li, .arabic > ol, .arabic > ul {
    text-align: right !important;
}


/* Top Header */

/* NO TOP SEARCH */
#header.full-header #primary-menu > ul {
	padding-right: 0px !important;
	margin-right: 0px !important;
	border-right: none  !important;
}

#header.sticky-header #header-wrap {
	background-color: #FFF ;
	box-shadow: 0 1px 6px rgba(87, 77, 51, 0.6);
}

/* header color override (light): */
#header:not(.not-dark).sticky-header #header-wrap, 
#header:not(.transparent-header) #header-wrap {
    background-color: #383f3b !important;
	/* background-color: #118148 !important; */
}
/* header color override (dark): */
#header:not(.dark).sticky-header #header-wrap, 
#header:not(.transparent-header) #header-wrap {
    background-color: #fcc707 !important;
    /* background-color: #f1f0e9  !important; */
    border-bottom: 1px solid rgba(255, 247, 217, 0.85);
}

#header:not(.not-dark) #header-wrap li a:hover {
    text-shadow: 0px 3px 8px #2a2a2a30, 0 1px 0  #fffff82e;
    color: #fcc707 !important;
}
#header:not(.dark) #header-wrap li a:hover {
    text-shadow: 0px 3px 8px #2a2a2a30, 0 1px 0  #fffff82e;
    color: #118148 !important;
}



/* PAGE TITLE */
#page-title.page-title-dark {
    /* background-color: rgb(73, 82, 77); */
    background-color: #118148;
	text-shadow: 1px 1px 1px rgba(36, 36, 36, 0.582) !important;
	border-bottom: none;
}

.slider-heading-cust {
    font-size: 42px !important; 
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    color: #dbdbdb  !important;
    text-shadow: 2px 3px 3px #292929  !important;
}
@media (max-width: 991px) {
    .slider-heading-cust {
        font-weight: 700 !important;
        font-size: 36px !important;
        /* text-align: center !important; */
    }
}


/* color helper classes: */

.lightgray-bg {
    background-color: #eee;
}

.pplaaf-yellow-bg {
	background-color: #fcc707 !important;
}
.pplaaf-yellow-txt {
	color: #fcc707 !important;
}
.pplaaf-green-bg {
	background-color: #118148 !important;
}
.pplaaf-green-txt {
	color: #118148 !important;
}

.pplaaf-btn {
    background: #352f1999 !important;
}
.pplaaf-btn:hover {
    background-color: #fcc707 !important;
    color: #118148 !important;
}
/* ENDOF pplaaf color helper classes: */

/* Overide promo button position: */
.promo .promo-button-center {
	position: relative !important;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
    align-content: center;
}


/* POST ENTRIES */
.entry:after {
	height: 0px;
	margin-top: 20px;
}

/* Posts lists */
.entry-title a { color: #444; }
.entry-title a:hover { color: #169736 !important; }

.entry-blocks-custom-1 {
    width: 32.8% !important;
    border: 1px solid #fafafa !important;
    padding: 6px !important;
    background: #fafafa !important;
    box-shadow: 0 0 8px #b8b8b8;
    margin-left: 1px;
    margin-right: 1px;
}

/* Single Post Page */
.post-origin {
    position: absolute;
    left: 10vw;
    width: 80vw;
    margin-top: -6px;
    border: 1px solid #fafafa33;
    padding: 2px 30px;
    background: #f0f0f0;
    box-shadow: 0 0 2px #b8b8b8;
    z-index: 1;
}
.post-origin:hover {
    margin-top: -4px;
}
.post-origin span{
    color: #666666;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.post-origin a {
    color: #209c3f;
}
.post-origin a:hover {
    color: #14d645;
}



.entry-meta-in-title {
    margin-top: 20px !important;
    margin-bottom: -10px !important;
    padding: 0px !important;

}
.dark .entry-meta-in-title li {
    color: rgba(255,255,255,0.7) !important;
    margin-top: 20px !important;
    margin-bottom: -20px !important;
}


.img-right {
    display: block;
    float: right;
    padding: 5px 5px 2px 15px
}
.img-left {
    display: block;
    float: left;
    padding: 5px 5px 2px 15px
}


.ngo-box {
    height: 150px !important;
    width: 150px !important;
    padding: 10px !important;
    margin: 10px !important;
    border: 1px solid #ccc;
}
.ngo-box img {
    max-width: 100%;
    max-height: 120px ;
}

.ngo-name {
    display: block;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contact-box {
	margin-block-start:20px;
	margin-block-end: 20px;
    text-align: center;
}

.contact-box .contact-txt {
    text-align: center;
    font-size: smaller;
}
.contact-box .contact-img {
    margin-bottom: 5px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    padding: 5px;
    border: 5px white;
    box-shadow: 0 0 5px #eeeeeeee;
}


.profile-block {
    display: inline-block;
    background: rgb(245, 245, 245);
    font-size: 38px !important;
    font-weight: 300;
    font-family: Raleway;
    line-height: 2rem;
    margin-bottom: 20px;
}

.profile-block img {
    float: right;
    max-width: 40%;
    margin: 10px 10px 10px 20px;
    padding: 11px;
    border: 1px solid #e9e9e9;
    height: auto;
    background: #fff;
}

@media  (max-width: 500px) {
    .profile-block img {
        float: none;
        max-width: 84%;
        text-align: center;
    }
}

.top-blockquote {
    margin: 10px 10px 0px 10px;
    padding: 20px;
}
.top-blockquote::before {
    content: "“";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

th, td {
    padding-right: 30px !important;
    margin-right: 20px;
}
