--- 
layout: page-bare
lang: fr
title: Qui sommes-nous
subtitle: Rencontrez l’équipe 
translated: 
---
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-dark pplaaf-green-bg nobottompadding">

	<div class="container clearfix dark">
		<h1>Qui sommes-nous</h1>

		<!-- translated list -->
		<ol class="breadcrumb">
		{% for lang in page.translated %}
			{% case lang %}
				{% when 'French' %}
				<li class="breadcrumb-item"><a href="/fr{{page.url}}">{{ lang }}</a></li>
				{% when 'English' %}
				<li class="breadcrumb-item"><a href="/{{page.url | remove: '/fr/' | remove: '/pt/' | remove: '/ar/'}}">{{ lang }}</a></li>                  
				{% when 'Português' %}
				<li class="breadcrumb-item"><a href="/pt{{page.url}}">{{ lang }}</a></li>
				{% when 'العربية' %}
				<li class="breadcrumb-item"><a href="/ar{{page.url}}">{{ lang }}</a></li>                            
			{% endcase %}
		{% endfor %}
		</ol><!-- end   translated list -->

	</div>

</section><!-- #page-title end -->
	
<!-- Page Sub Menu
============================================= -->
<div id="page-menu" class="style-3">

    <div id="page-menu-wrap">

        <div class="container-fullwidth clearfix">

            <nav>
                <ul>
                    <li>
                        <a href="#management" data-scrollto="#management">
                            <div>Administration</div>
                        </a>
                    </li>
                    <li>
                        <a href="#staff" data-scrollto="#staff">
                            <div>Personnel</div>
                        </a>
                    </li>
                    <li>
                        <a href="#board" data-scrollto="#board">
                            <div>Comité consultatif</div>
                        </a>
					</li>
                    <li>
                        <a href="#ambassadors" data-scrollto="#ambassadors">
                            <div>Ambassadeurs</div>
                        </a>
					</li>					
                    <li>
                        <a href="#ngos" data-scrollto="#ngos">
                            <div>Partenaires</div>
                        </a>
					</li>
                    <li>
						<a href="#donors" data-scrollto="#donors">
							<div>Donateurs</div>
						</a>
					</li>						
					<li>
                        <a href="#" data-scrollto="#management">
                        </a>
					</li>			
                </ul>
            </nav>

            <div id="page-submenu-trigger">
                <i class="icon-reorder"></i>
            </div>

        </div>

    </div>

</div>
<!-- #page-menu end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

		<span class="anchor" id="management"></span>
		<div class="content-wrap notopmargin notoppadding">
			<div class="fancy-title title-border">
				<h1>Administration</h1>
			</div>
			<div class="col-lg-12">
				{% for member in site.management-fr %}
				<div class="team team-list clearfix bottommargin">
					<div class="team-image">
						{% if member.image %}
						<img src="/assets/images/management/{{ member.image }}" alt="{{ member.name }}"> {% endif %}
					</div>
					<div class="team-desc">
						<div class="team-title">
							<h4>{{ member.name }}</h4>
							<span>{{ member.role }}</span>
						</div>
						<div class="team-content">
							{% unless member.content-missing %}
							<p>{{ member.content }}</p>
							{% endunless %}
						</div>
						{% if member.facebook %}
						<a href="#" class="social-icon si-rounded si-small si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						{% endif %}
						{% if member.twitter %}
						<a href="{{ member.twitter }}" target="_blank" class="social-icon si-rounded si-small si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>


		<span class="anchor" id="staff"></span>
		<div class="content-wrap ">
			<div class="fancy-title title-border">
				<h1> Personnel</h1>
			</div>
			<div class="col-lg-12 bottommargin">
				{% for member in site.staff-fr %}
				<div class="team team-list clearfix bottommargin">
					<div class="team-image">
						{% if member.image %}
						<img src="/assets/images/staff/{{ member.image }}" alt="{{ member.name }}"> {% endif %}
					</div>
					<div class="team-desc">
						<div class="team-title">
							<h4>{{ member.name }}</h4>
							<span>{{ member.role }}</span>
						</div>
						<div class="team-content">
							{% unless member.content-missing %}
							<p>{{ member.content }}</p>
							{% endunless %}
						</div>
						{% if member.facebook %}
						<a href="#" class="social-icon si-rounded si-small si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						{% endif %}
						{% if member.twitter %}
						<a href="{{ member.twitter }}" target="_blank" class="social-icon si-rounded si-small si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<span class="anchor" id="board"></span>
		<div class="content-wrap ">
			<div class="fancy-title title-border">
				<h1>Comité consultatif</h1>
			</div>
			<div class="col-lg-12 bottommargin">
				{% for member in site.board-fr %}
				<div class="team team-list clearfix bottommargin">
					<div class="team-image">
						{% if member.image %}
						<img src="/assets/images/board/{{ member.image }}" alt="{{ member.name }}"> {% endif %}
					</div>
					<div class="team-desc">
						<div class="team-title">
							<h4>{{ member.name }}</h4>
							<span>{{ member.role }}</span>
						</div>
						<div class="team-content">
							{% unless member.content-missing %}
							<p>{{ member.content }}</p>
							{% endunless %}
						</div>
						{% if member.facebook %}
						<a href="#" class="social-icon si-rounded si-small si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						{% endif %}
						{% if member.twitter %}
						<a href="{{ member.twitter }}" target="_blank" class="social-icon si-rounded si-small si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<span class="anchor" id="ambassadors"></span>
		<div class="content-wrap ">
			<div class="fancy-title title-border">
				<h1>Ambassadeurs</h1>
			</div>
			<div class="col-lg-12 bottommargin">
				{% for member in site.ambassadors-fr %}
				<div class="team team-list clearfix bottommargin">
					<div class="team-image">
						{% if member.image %}
						<img src="/assets/images/ambassadors/{{ member.image }}" alt="{{ member.name }}"> {% endif %}
					</div>
					<div class="team-desc">
						<div class="team-title">
							<h4>{{ member.name }}</h4>
							<span>{{ member.role }}</span>
						</div>
						<div class="team-content">
							{% unless member.content-missing %}
							<p>{{ member.content }}</p>
							{% endunless %}
						</div>
						{% if member.facebook %}
						<a href="#" class="social-icon si-rounded si-small si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						{% endif %}
						{% if member.twitter %}
						<a href="{{ member.twitter }}" target="_blank" class="social-icon si-rounded si-small si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<span class="anchor" id="ngos"></span>
		<div class="col-full topmargin-lg">
			<div class="fancy-title title-border">
				<h1>Partenaires</h1>
			</div>
			<div class="">
			{% for ngo in site.ngos-fr %}
				<a href="{{ ngo.website }}"><img class="image_fade ngo-box" src="/assets/images/ngo/{{ ngo.image }}" alt="{{ ngo.name }}"></a>
			{% endfor %}
			</div>
		</div>

		<span class="anchor" id="donors"></span>
		<div class="col-full topmargin-lg">
			<div class="fancy-title title-border">
				<h1>Donateurs</h1>
			</div>
			<div class="">
			{% for ngo in site.donors-fr %}
				<a href="{{ ngo.website }}"><img class="image_fade ngo-box" src="/assets/images/donors/{{ ngo.image }}" alt="{{ ngo.name }}"></a>
			{% endfor %}
			</div>
		</div>
        </div>
    </div>
</section>