<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<body class="stretched">

  <div id="wrapper" class="clearfix">

    {% include header-{{page.lang}}.html %}

    <!-- Page Title -->
    {% unless page.exclude-title-head %}
    <section id="page-title" class="page-title-dark">
      <div class="container clearfix dark">
        <h1>{{page.title}}</h1>
        <span>{{page.subtitle}}</span>

        <!-- translated list -->
        <ol class="breadcrumb">
          {% for tlang in page.translated %}
              {% case tlang %}
                {% when 'Français' %}
                  <li class="breadcrumb-item"><a href="/fr{{page.url | remove: '/fr' | remove: '/pt' | remove: '/ar'}}">{{ tlang }}</a></li>
                {% when 'English' %}
                  <li class="breadcrumb-item"><a href="/{{page.url | remove: '/fr/' | remove: '/pt/' | remove: '/ar/'}}">{{ tlang }}</a></li>                  
                {% when 'Português' %}
                  <li class="breadcrumb-item"><a href="/pt{{page.url | remove: '/fr' | remove: '/pt' | remove: '/ar'}}">{{ tlang }}</a></li>
                {% when 'العربية' %}
                  <li class="breadcrumb-item"><a href="/ar{{page.url | remove: '/fr' | remove: '/pt' | remove: '/ar'}}">{{ tlang }}</a></li>                            
              {% endcase %}
          {% endfor %}
        </ol><!-- end   translated list -->

      </div>
    </section>
    <!-- #page-title end -->
    {% endunless %}

    <!-- Content -->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">

          <!-- Post Content -->
          <div class="postcontent nobottommargin clearfix">

            {{ content }}

          </div>

        {% include sidebar.html type="page" %}

      </div>
    </section>
    <!-- #content end -->

    {% include footer.html %}

  </div>
  <!-- #wrapper end -->

  {% include footer-scripts.html %}

</body>

</html>